<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bungabear.androidstudy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BasicViewTest"/>
        <activity android:name=".activity.BasicViewLogin"/>
        <activity android:name=".activity.BasicViewTicTaeToe"/>
        <activity android:name=".activity.BasicViewTicTaeToeDynamic"/>
        <activity android:name=".activity.ResultRequestActivity"/>
        <activity android:name=".activity.RetrofitTest"/>
        <activity android:name=".activity.DatabindingBasic"/>
        <activity android:name=".webviewactivity.WebViewActivity"/>
        <activity android:name=".servicebind.SimpleServiceBindActivity"/>
        <activity android:name=".activity.SimpleAnimationActivity"/>
        <activity android:name=".activity.BottomViewPagerTab"/>
        <activity android:name=".mediaprojection.activity.MediaProjectionActivity"/>
        <activity android:name=".mediaprojection.activity.MediaProjectionWithServiceActivity"/>

        <service android:name=".servicebind.SimpleBindService"/>
<!--        <service android:name=".media"-->
    </application>

</manifest>